<p id="notice"><%= notice %></p>

<h1>Schedules</h1>

<table>
  <thead>
    <tr>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @schedules.each do |schedule| %>
      <tr>
        <td class='name_sch' width=48%><%= schedule.name %></td>
        <td width=17%><%= link_to 'Show', schedule %></td>
        <td width=17%><%= link_to 'Edit', edit_schedule_path(schedule) %></td>
        <td width=17%><%= link_to 'Destroy', schedule, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Schedule', new_schedule_path %>
