<p id="notice"><%= notice %></p>

<div class="show" >
	<p>NAME: <%= @schedule.name %></p>
	<p>DURATION: <%= @schedule.duration %></p>
	<p>QUANTITY: <%= @schedule.quantity %></p>
</div>

<div class="show" >
	<p>HOURS: </p>
	<ul>
		<% @schedule.doses.each do |d| %>

		<li>
			<div class="li_sch">
			<p><%= d.dose_time %></p>
			</div>
		</li>
	<% end %>
	</ul>
	
</div>
<%= link_to image_tag("pill_back.png", border: 0, height: 36), schedules_path %>
<%= link_to image_tag("pill_edit.png", border: 0, height: 36), edit_schedule_path(@schedule) %> 
<%= link_to image_tag("pill_del.png", border: 0, height: 36), @schedule, method: :delete, data: { confirm: 'Are you sure?' } %> 

